body{
    margin: .5rem;
    padding: .5rem;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.header{
    display: flex;
    background-color: #114c50;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

.profile-picture {
    position: absolute;
    right: 5%;
    box-shadow: 3px 5px 32px 8px rgba(0,0,0,0.36);
}

.main {
    padding: 1rem;
}

.footer {
    background-color: #114c50;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.footer span {
    text-decoration: underline;
}

.last-update {
    color: gold;
}