@media (min-width: 1281px) {

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card h2 {
        font-size: 1.2rem;
    }

    .card a,
    p {
        font-size: 1.2rem;
    }
}