body{
    margin: .5rem;
    padding: .5rem;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.header{
    display: flex;
    background-color: #114c50;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 0.8rem;
    padding-top: 2rem;
}

.footer {
    background-color: #114c50;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
    margin-top: 2rem;
}

.footer span {
    text-decoration: underline;
}


* {
    box-sizing: border-box;
}

.card {
    background-color: #b1b1b1;
    max-width: 95%;
    border: #e4e4e4 solid 5px;
    border-radius: 2rem;
    justify-self: center;
}

.card h2 {
    background-color: #1b7e85;
    display: block;
    padding: 10px 10px;
    border-radius: .5rem;
    text-align: center;
    color: #f7f7f7;
    width: 50%;
    margin: 10px auto;
}

.card h3 {
    text-align: center;
}

.card img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card a {
    background: #114c50;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin: 10px auto;
    width: 50%;
    text-align: center;
    border-radius: 100px;
}

.card p {
    text-align: justify;
    padding: 0px 10px;
    line-height: 1.4rem;
    font-size: 1.2rem;
}
