table {
    width: 350px;
    margin: 100px;
    box-shadow: 10px 15px 13px #628ca6;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table,
thead,
tr,
th,
td {
    border: 1.9px solid rgb(190, 184, 184);
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th,
td {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

th {
    color: white;
    background-color: #628ca6;
    font-weight: bolder;
}

thead th {
    background-color: #7fb9c2;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

tr {
    background-color: #e7f0ed;
}

.novgoal {
    background-color: #628ca6;
}

b:only-child {
    color: white;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tfoot td {
    font-size: 1rem;
    background-color: #7fb9c2;
}